.App {
  text-align: center;
}

.App-header {
  background-color: rgb(66, 114, 219);
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 2.5em;
  
}

body{
  color: blue;
}