.App {
  text-align: center;
}

.App-header {
  background-color: rgb(15, 84, 232);
  padding: 10px;
  color: white;
  margin-bottom: 25px;
}

.App-title {
  font-size: 2.5em;
  
}

body{
  color: rgb(231, 223, 223);
  background-image: url(https://images.squarespace-cdn.com/content/v1/5ad960ff2487fd02a31daa3b/1526441224807-KZ78UIKXI14C437IO7BY/ke17ZwdGBToddI8pDm48kBNRt0cg4WAanfWojlHLplx7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1US6IfA3z_hZ3gTROHXzj40oiauNtBL88ZRQhKg2xy4MQPt_AAiqPvsV6TvkS6kIncw/image-asset.jpeg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

}